<div rd-resource-overview></div>
<div class="dashboard-container">
    <div class="h3">
        <i class="fa fa-exchange"></i>
        Employee Available Allocation
    </div>
    <div class="row">
        <div class="pull-left employee-list">
            <div class="employee-space"></div>
            <div ng-repeat="employee in employees">
                <div class="employee-card">
                    <span>{{employee.firstName['S']}} {{employee.lastName['S']}}</span>
                </div>
            </div>
        </div>
        <div class="pull-left calendar-list">
            <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
        </div>
    </div>
</div>