<div class="modal-header row">
    <h3 class="modal-title col-lg-11">{{editProject.name["S"]}}</h3>
    <a href class="col-lg-1" ng-click="closeModal()">
        <i class="fa fa-times"></i>
    </a>
</div>
<div class="modal-body">
    <form name="projectEditForm" class="project-edit-form" novalidate>
        <div class="form-group row">
            <div ng-init="showClientDropdown = true"
                 ng-class="{'error': projectForm.$submitted && projectForm.newClient.$error.required,
                     'col-lg-6': !showClientDropdown,
                     'col-lg-12': showClientDropdown}">
                <label for="client">Client</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="" class="green-button"
                   ng-click="showClientDropdown = !showClientDropdown;">
                    <i class="fa fa-plus" ng-show="showClientDropdown"></i> {{showClientDropdown ? 'Add New' :
                    'Cancel'}}
                </a>
                <div class="btn-group btn-block" uib-dropdown ng-show="showClientDropdown">
                    <button id="client" type="button" class="btn form-control" uib-dropdown-toggle
                            ng-disabled="disabled">
                        {{editProject.clientName["S"]}} <i class="fa fa-chevron-down"></i>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem" ng-repeat="client in clients">
                            <a href=""
                               ng-click="editProject.clientName['S'] = client.name['S'];">{{client.name['S']}}</a>
                        </li>
                    </ul>
                </div>
                <!--Add Client-->
                <input type="text" class="form-control" name="newClient" ng-Model="editProject.clientName['S']"
                       ng-show="!showClientDropdown"
                       placeholder="Client Name" required>
                    <span class="error-text"
                          ng-show="projectEditForm.$submitted && (projectEditForm.newClient.$error.required || editProject.clientName['S'] === '')">Client Name is required.</span>
            </div>
            <div class="form-group row" ng-show="!showClientDropdown">
                <div class="col-lg-6">
                    <label for="dce">DCE</label>
                    <div class="btn-group btn-block" uib-dropdown>
                        <button id="dce" type="button" class="btn form-control" uib-dropdown-toggle
                                ng-disabled="disabled">
                            {{selectedDCE.firstName['S']}} {{selectedDCE.lastName['S']}} <i
                                class="fa fa-chevron-down"></i>
                        </button>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem" ng-repeat="dce in dces">
                                <a href=""
                                   ng-click="onSelectDCE(dce)">{{dce.firstName['S']}} {{dce.lastName['S']}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6"
                     ng-class="{'error': projectForm.$submitted && projectForm.projectName === ''}">
                    <label for="platform">Type</label>
                    <div class="btn-group btn-block" uib-dropdown>
                        <button id="platform" type="button" class="btn form-control" uib-dropdown-toggle
                                ng-disabled="disabled">
                            {{editProject.platForm['L'][0]['S']}} <i class="fa fa-chevron-down"></i>
                        </button>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem"><a href=""
                                                   ng-click="otherProject = false; editProject.platForm['L'][0]['S'] = 'iOS';">iOS</a>
                            </li>
                            <li role="menuitem"><a href=""
                                                   ng-click="otherProject = false; editProject.platForm['L'][0]['S'] = 'Android';">Android</a>
                            </li>
                            <li role="menuitem"><a href=""
                                                   ng-click="otherProject = false; editProject.platForm['L'][0]['S'] = 'Responsive Web'; ">Responsive
                                Web</a></li>
                            <li role="menuitem"><a href=""
                                                   ng-click="otherProject = false; editProject.platForm['L'][0]['S'] = 'Hybrid App'; ">Hybrid
                                App</a></li>
                            <li role="menuitem"><a href=""
                                                   ng-click="otherProject = false; editProject.platForm['L'][0]['S'] = 'Strategy'; ">Strategy</a>
                            </li>
                            <li role="menuitem"><a href="" ng-click="otherProject = true;">Other</a>
                            </li>
                        </ul>
                    </div>
                    <input type="text" class="form-control" ng-Model="editProject.platForm['L'][0]['S']"
                           ng-show="otherProject"
                           placeholder="What kind of project is this?">
                </div>
                <div class="col-lg-6">
                    <label>Start Date</label>
                    <div class="input-group btn-block calendar">
                        <input type="text" class="form-control" uib-datepicker-popup="{{calendarFormat}}"
                               ng-model="projectStartDate" is-open="popup1.opened"
                               datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
                        <div class="input-group-btn calendar-btn">
                            <button type="button" class="btn" ng-click="startDate()"><i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label>End Date</label>
                    <div class="input-group btn-block calendar">
                        <input type="text" class="form-control" uib-datepicker-popup="{{calendarFormat}}"
                               ng-model="projectEndDate" is-open="popup2.opened"
                               datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
                        <div class="input-group-btn calendar-btn">
                            <button type="button" class="btn" ng-click="endDate()"><i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Resources-->
        <div class="form-group tabs">
            <uib-tabset justified="true" ng-init="predicate = 'current'">
                <uib-tab index="0" heading="Current" select="updatePredicate('current')"></uib-tab>
                <uib-tab index="1" heading="Upcoming" select="updatePredicate('upcoming')"></uib-tab>
                <uib-tab index="2" heading="Retired" select="updatePredicate('retired')"></uib-tab>
            </uib-tabset>
        </div>
        <div class="form-group row">
            <div class="col-lg-12">
                <h3>Add Resources</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name(Email)</th>
                        <th>Role</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Allocation</th>
                        <th>Notes</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="(key, value) in editProject.resources.M">
                    <tr ng-repeat="resource in value.M.roles.L | dateFilter: predicate track by $index ">
                        <td>
                            <span>{{getEmployeeByEmail(key)}}</span><br/>
                            <i>({{key}})</i>
                        </td>
                        <td>{{getRole(resource.M.roleId['N'])}}</td>
                        <td>{{convertDateFromString(resource.M.startDate['S']) | date: 'MM/dd/yyyy'}}</td>
                        <td>{{convertDateFromString(resource.M.endDate['S']) | date: 'MM/dd/yyyy'}}</td>
                        <td>{{resource.M.allocation['N']}}</td>
                        <td>{{resource.M.notes['S'] === '__EMPTY_STRING' ? '' : resource.M.notes['S']}}</td>
                        <td>
                            <a href="" class="green-button" ng-click="editResource(key, $index)">Edit</a> |
                            <a href="" class="green-button" ng-click="retireResource(key, $index)">Retire</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--Resource Form-->
        <div class="row resource-table">
            <div class="form-group col-lg-6 resource-col"
                 ng-class="{'error': resourceFormSubmitted && resourceEmployee.name == ''}"
                 ng-if="!isEditing">
                <label>Employee</label>
                <div class="btn-group btn-block" uib-dropdown>
                    <input type="text" ng-model="$parent.selectedEmployee" uib-dropdown-toggle
                           class="form-control" placeholder="Type to search for an employee">
                    <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"
                            ng-repeat="employee in filteredEmployees(employees)">
                            <a href=""
                               ng-click="onSelectedEmployee(employee)">{{employee.firstName['S']}}
                                {{employee.lastName['S']}}</a></li>
                    </ul>
                </div>
                <span class="error-text" ng-show="resourceFormSubmitted && $parent.selectedEmployee == ''">Please select an employee.</span>
            </div>
            <div class="form-group col-lg-6 resource-col"
                 ng-class="{'error': resourceFormSubmitted && resourceRole.id == ''}">
                <label>Role</label>
                <div class="btn-group btn-block" uib-dropdown>
                    <button type="button" class="btn form-control" uib-dropdown-toggle
                            ng-disabled="disabled">
                        {{resourceRole.title}} <i class="fa fa-chevron-down"></i>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem" ng-repeat="role in roles track by $index"
                            ng-if="role !== 'Director, Client Enagagement'">
                            <a href=""
                               ng-click="resourceRole.title = role; resourceRole.id = ($index + 1);">{{role}}</a>
                        </li>
                    </ul>
                </div>
                <span class="error-text" ng-show="resourceFormSubmitted && resourceRole.title == ''">Please select a role.</span>
            </div>
            <div class="form-group col-lg-6 resource-col">
                <label>Start Date</label>
                <div class="input-group btn-block calendar">
                    <input type="text" class="form-control" uib-datepicker-popup="{{calendarFormat}}"
                           ng-model="resourceStartDate" is-open="popup3.opened" popup-placement="bottom"
                           datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
                    <div class="input-group-btn calendar-btn">
                        <button type="button" class="btn" ng-click="open3()"><i class="fa fa-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-6 resource-col">
                <label>End Date</label>
                <div class="input-group btn-block calendar">
                    <input type="text" class="form-control" uib-datepicker-popup="{{calendarFormat}}"
                           ng-model="resourceEndDate" is-open="popup4.opened" popup-placement="bottom"
                           datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
                    <div class="input-group-btn calendar-btn">
                        <button type="button" class="btn" ng-click="open4()"><i class="fa fa-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-6 resource-col"
                 ng-class="{'error': resourceFormSubmitted && resourceAllocation == ''}">
                <label>Allocation:</label>
                <input type="text" class="form-control" ng-model="resourceAllocation"
                       placeholder="Allocation (0-100)">
                <span class="error-text" ng-show="resourceFormSubmitted && resourceAllocation == ''">Please enter Allocation (0-100).</span>
            </div>
            <div class="col-lg-6 resource-col">
                <label>Notes</label>
                <input type="text" class="form-control" ng-model="resourceNotes" placeholder="Add notes">
            </div>
            <div class="col-lg-12 resource-buttons">
                <button href="" type="submit" class="btn green-button pull-right" ng-show="!isEditing"
                        ng-click="addNewResource()">Add Resource
                </button>
                <button href="" type="submit" class="btn green-button pull-right" ng-show="isEditing"
                        ng-click="updateResource()">Update Resource
                </button>
            </div>
        </div>
        <br/>
        <!--Submit & Cancel buttons-->
        <div class="form-group text-center">
            <button class="btn from-control submit-button btn-block" ng-mousedown="updateProject()">
                Update Project
            </button>
            <a href class="cancel-button" ng-click="closeModal()">Cancel</a>
        </div>
    </form>
</div>