body, div, p, span, h1, ul, li, b, a, button, input {
  font-family: 'Source Sans Pro', sans-serif;
}

ul.sidebar {
  .sidebar-list {
    a {
      border-left: 3px solid transparent;
      &.active {
        border-left: 3px solid #e99d1a !important;
        color: white;
        background: #2d3e63;
      }
      &:hover {
        border-left: 3px solid transparent;
        text-indent: 25px;
      }
    }
  }
}

.no-margin {
  margin: 0;
}

.dashboard-container {
  padding: 15px;
}

.employee-list {
  width: 150px;
  .employee-space {
    height: 75px;
  }
}
.calendar-list {
  width: 100%;
  .table {
    width: 100%;
    td {
      font-size: 20px;
      text-align: center;
      vertical-align: middle;
      position: relative;
      .allocation-value {
        position: absolute;
        text-align: center;
        width: 100%;
        left: 0;
        top: 50%;
        margin-top: -20px;
      }
    }
  }
}
.dashboard-search {
  width: 200px;
  margin-right: 20px;
}
.prev-next-btns {
  .btn {
    color: white;
    outline: none;
    &:hover, &:active, &:focus {
      color: white;
    }
  }
}