<!doctype html>
<html lang="en" ng-app="RDash">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Solstice People Planning</title>
    <!-- STYLES -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,900italic,900,700,600,600italic,700italic' rel='stylesheet' type='text/css'>
    <!-- inject:css -->
    <!-- endinject -->
    <!-- SCRIPTS -->
    <!-- inject:js -->
    <!-- endinject -->
</head>
<body ng-controller="MasterCtrl">
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            Solstice Staffing
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list">
          <a href="#" ng-class="{'active' : isActiveNav() === 'dashboard'}">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/projects" ng-class="{'active' : isActiveNav() === 'projects'}">Projects <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/people" ng-class="{'active' : isActiveNav() === 'people'}">People<span class="menu-icon fa fa-table"></span></a>
        </li>
      </ul>

    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header" ng-controller="HeaderController">
          <div class="col-xs-12">
            <div class="user pull-right">
              <div class="item">
               <a href="#" ng-click="openEmployeeCreateModal()">
                 <i class="fa fa-plus"></i> Employee
               </a>
              </div>
              <div class="item">
                <a href="#" ng-click="openProjectCreateModal()">
                  <i class="fa fa-plus"></i> Project
                </a>
              </div>
            </div>
            <div class="meta">
              <div class="page">
                Dashboard
              </div>
              <div class="breadcrumb-links">
                Home / Dashboard
              </div>
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div ui-view></div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
</body>
</html>